<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="VitalLabels.Desktop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="SysproContext" connectionString="data source=vhfcptfin01a;initial catalog=EncoreCompanyA;user id=CoA_ODBC;password=coa_odbc;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="MES" connectionString="data source=indra01;initial catalog=VitalProduction;persist security info=True;user id=CoA_ODBC;password=coa_odbc;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>
    <!--<add name="CompA" connectionString="XpoProvider=MSSqlServer;data source=vhfcptfin01a;user id=CoA_ODBC;password=coa_odbc;initial catalog=EncoreCompanyA;Persist Security Info=true" />-->
    <add name="indra01.VitalProduction.dbo" connectionString="XpoProvider=MSSqlServer;data source=Indra01;user id=CoA_ODBC;password=coa_odbc;initial catalog=VitalProduction;Persist Security Info=true" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <applicationSettings>
    <VitalLabels.Desktop.Properties.Settings>
      <setting name="MESLabelPW" serializeAs="String">
        <value>M3SBarcode</value>
      </setting>
    </VitalLabels.Desktop.Properties.Settings>
  </applicationSettings>
</configuration>
